### PhpStorm ###

.idea/*.xml
/vendor/bin
/vendor/phpspec
/vendor/sebastian
/vendor/phpdocumentor
/vendor/doctrine
/vendor/myclabs
/vendor/symfony
/vendor/phpunit
/tests
/settings_database.php
index.php
/phpunit.xml
/composer.lock
/vendor/composer/installed.json
