#header-container
{
	margin : auto 20% auto 20%;
}

#sidebar
{
	margin-right : 1%;
	border : solid transparent;
	box-shadow: 0 0 2px #B1B1DC;
	padding : 10px;
}

#global-container
{
	margin : auto 12% 2% 12%;
	border : solid transparent;
	box-shadow: 0 0 2px #B1B1DC;
	padding : 10px;
}

#article-container
{
	border : solid transparent;
	box-shadow : 0 0 2px #B1B1DC;
	padding : 10px;
	margin-bottom : 5px;
	border-radius : 5px;
}
#menu-add label
{
	display : inline-block;
	width : 100px;
}

#menu-add input
{
	border-radius : 3px;
	margin-bottom : 2px;
}

/* Sidebar content */
#connection-form label
{
	display : inline-block;
	width : 120px;
}

/* Ajax Message displaying */

.success
{
	display : block;
	background-color: #48BB26;
	opacity: 0.5;
	border-radius : 2px;
	padding : 10px;
	text-align : center;
	z-index : 990;
}

.failed
{
	display : block;
	background-color: #F94646;
	opacity: 0.5;
	border-radius : 2px;
	padding : 10px;
	text-align : center;
	z-index : 990;
}

#text-message-ajax
{
	display : block;
	z-index : 1000;
}

/** Submenu dropdown ! Custom for BS3 **/

.dropdown-submenu
{
	display : list-item !important;
	margin-left : 20px;
}

.dropdown-submenu ul
{
	display: none;
	list-style : none;
}

.dropdown-submenu:hover > ul
{
	display: block !important;
	position : relative;
	left: 80px;
	top : -15px;
}

.bordered
{
	border : transparent;
	box-shadow : 0 0 2px #CCCCCC;
	padding : 10px;
	margin-left : 10px !important;
}